@import "../../style.scss";
// WRITE

.add {
  display: flex;
  gap: 3.125rem; // Change to 50px in rem
  margin-top: 3.75rem;
  width: 80%;
  max-width: 64rem;
  flex-direction: row;
  padding: 1.7rem;

  @include media("<=tablet") {
    max-width: 700px;
    gap: 1rem;
    .menu {
      .item {
        .buttons {
          gap: 0.5rem;
        }
      }
    }
  }

  .content {
    margin-top: 20px;
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
      padding: 10px;
      border: 1px solid lightgray;
    }

    .editorContainer {
      height: 420px;
      overflow: scroll;
      border: 1px solid lightgray;

      .editor {
        height: 100%;
        border: none;
      }
    }
  }

  .menu {
    margin-top: 20px;
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .item {
      border: 1px solid lightgray;
      padding: 1rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: $secondary-color;
      font-size: 0.875rem;

      h1 {
        font-size: 1.2rem;
        color: $secondary-color;
      }
      label {
        color: $secondary-color;
      }
      .input-field {
        margin-top: 0.5rem;
        max-width: 95%;
        width: 100%;
        border-radius: 2px;
        cursor: pointer;
        border-color: $secondary-color;
        color: $secondary-color;
      }

      .buttons {
        display: flex;
        justify-content: space-between;
        padding-top: 0.5rem;

        :first-child {
          cursor: pointer;
          color: $secondary-color;
          background-color: white;
          border: 1px solid $secondary-color;
          padding: 3px 5px;
          border-radius: 2px;
          &:hover {
            background-color: white;
            border: 1px solid $primary-color;
            color: $primary-color;
          }
        }
        :last-child {
          cursor: pointer;
          color: white;
          background-color: $primary-color;
          border: 1px solid $primary-color;
          padding: 3px 5px;
          border-radius: 2px;
          &:hover {
            background-color: white;
            border: 1px solid $primary-color;
            color: $primary-color;
          }
        }
      }
      .cat {
        font-size: 0.875rem;
        display: flex;
        align-items: center;
        gap: 2px;
        color: $primary-color;
      }
    }
  }

  // On mobile
  @include media("<=phone") {
    margin-top: 2rem;
    flex-direction: column;
    gap: 1.5rem; // Change to 50px in rem

    .content {
      margin-top: 1.5rem;

      input {
        padding: 0.5rem;
      }

      .editorContainer {
        height: 320px;
        overflow: scroll;
        border: 1px solid lightgray;

        .editor {
          height: 100%;
          border: none;
        }
      }
    }

    .menu {
      flex-direction: column-reverse;
      margin-top: 0;

      .item {
        gap: 0.6rem;
        font-size: 1rem;

        h1 {
          font-size: 1.25rem;
        }
      }
    }
  }
}
