//PAGE 404
.page-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  h1 {
    font-size: 48px;
    color: teal;
    margin-bottom: 20px;
  }

  p {
    font-size: 24px;
    color: #555;
    text-align: center;
  }

  // Style untuk tombol kembali ke halaman sebelumnya
  .back-button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: teal;
    color: white;
    font-size: 18px;
    border-radius: 5px;

    &:hover {
      background-color: #008080;
    }
  }
}
