@import "./breakpoints/breackpoints.scss";
$lightGreen: #b9e7e7;

.app {
  display: flex;
  justify-content: center;
  // background-color: yellow;
  .container {
    width: 1024px;

    .link {
      text-decoration: none;
      color: inherit;
    }
  }
  @include media("<=phone") {
    background-color: #cbd4c2;
  }
}
